.btn {
    min-width: 142px;
    height: 36px;
    font-weight: 400;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: rgb(110, 109, 109);
    background-color: white;
}
.btn:hover{
    background-color: rgba(44, 44, 44, 0.05);
}
.btn.btn-DANGKI {
    background-color: rgb(233, 36, 36);
    border: none;
    color: white;
    font-weight: 400;
    border-radius: 2px;
}
.btn.btn-back{
    margin-right: 10px;
}